* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	text-decoration: inherit;
	line-height: inherit;
	color: inherit;
}

html, body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #444;
	}

body {
	text-align: center;
	background-color: #8e99f3;
	color: #ffffff;
}

img {
	width: 40%;
	height: 40%;
	border-radius: 50%;
	max-width: 400px;
}

h1 {
	font-size: 36px;
	line-height: 50px;
	font-weight: bold;
}


section {
	border-top: 2px dashed #eee;
	padding: 50px 10px;
	max-width: 800px;
	margin: 0 auto;
}

.hero {
	height: 100vh;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 0;
	padding: 0;
	background-color: #5c6bc0;
	max-width: none;
}

.nav {
	width: 100%;
	display: flex;
	position: fixed;
	z-index: 9999;
	}

.nav li {
	list-style-type: none;
	flex-grow: 1;
	}

.nav li a {
	display: block;
	line-height: 50px;
	background-color: #26418f;
}

.nav li a:hover {
	background-color: #666;
}

.social {
	z-index: 9999;
	text-align:center;
	list-style:none;
	padding-top: 16px;
}

.social li {
	list-style-type: none;
	display: inline;
	padding: 0 16px;

}

.social li a {
	display: inline-block;
}
